.card-title{
    padding: 1.25rem;
    margin-bottom: 0;
}

.head-football-content{
    width: 100%;
    text-align: center;
}

.container-form{
    border: 0;
    margin: 0;
    display: block;
    position: absolute;
    left: calc(50% - 270px);
    max-width: 540px;
}

.row-form{
    width: auto;
    position: relative;
    display: block;
    margin: 0;
}

.about-content{
   display: block;
   border: 2px solid #275079;
   border-radius: 8px;
   margin: 16px;
   padding: 12px;
   max-width: 540px;
   margin-left: auto;
   margin-right: auto;
}

.figure , .figure img{
    width: 100%;
}